<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Pantry</h1>
    <button type="button" name="btnAddManually" onclick='window.location.href="/pantry/new"' >Add Item Manually</button>
    <button type="button" class='btnAddFromAPI'>Search API for food</button>
    <div class="itemsList">
      <% for(let i = 0; i < items.length; i++) { %>
          <div class="wrapperDiv">
            <div class="item">
              <button type="button" name="btnEdit" onclick='window.location.href="<%=items[i].id%>/edit"'>Edit</button>
              <%=items[i].name%>
              <form  action="/pantry/<%=items[i].id%>?_method=DELETE" method="post">
                <input type="submit" name="" value="Delete">
              </form>
            </div>
          </div>
      <% } %>
    </div>
    <div class="foodSearchModal" >
     <div class="foodSearchBoxArea">
       <form class="foodSearch" action="index.html" method="post">
         <input type="text" placeholder="Search foods">
         <input type="submit" value='Search'>
         <button type="button" id='btnCloseSearchModal'>Close</button>
         <button type="button" id='btnClearSearch'>Clear</button>
         <!-- <img src="css/images/poweredby_nutritionix_api.png" alt=""> -->
       </form>
       <div class="searchResults">
         <dl class='resultsList'>
           <!-- <div class="wrapperDiv resultHeaders">
             <span width='53px'></span>
             <h3 class='item' id='itemHeader'>Item</h3>
             <h4 class='nutrient'>Calories</h4>
             <h4 class='nutrient'>Protein</h4>
             <h4 class='nutrient'>Carbs</h4>
             <h4 class='nutrient'>Fat</h4>
             <h4 class='nutrient'>Fiber</h4>
             <h4 class='nutrient'>Sugar</h4>
           </div> -->
         </dl>
       </div>
     </div>
   </div>
  </body>
</html>
