<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <h1>Add Food Item</h1>
    <button type="button" class='btnAddFromAPI'>Search API for food</button>
    <form action="/" method="POST">
      <h2>Basic Nutritional Info</h2>
      <div class="inputs">
        <input type="text" name="name"  class="name"/><br/>
        <input type="text" name="brand"  class="brand"/><br/>
        <input type="text" name="servingSize"  class="servingSize"/><br/>
        <input type="text" name="calories"  class="calories"/><br/>
        <input type="text" name="fat"  class="fat"/><br/>
        <input type="text" name="carbs"  class="carbs"/><br/>
        <input type="text" name="fiber"  class="fiber"/><br/>
        <input type="text" name="sugar"  class="sugar"/><br/>
        <input type="text" name="protein"  class="protein"/><br/>
        <h2>FODMAP Data</h2>
        <div class="">
          <input type="text" name="servingSizeW1" value="" ><br/>
          <input type="text" name="servingSizeV1" value="" ><br/>
          <input type="text" name="oligos1" value="" ><br/>
          <input type="text" name="fructos1" value="" ><br/>
          <input type="text" name="polyols1" value="" ><br/>
          <input type="text" name="lactos1" value="" ><br/>
        </div>
        <div class="">
          <input type="text" name="servingSizeW2" value="" ><br/>
          <input type="text" name="servingSizeV2" value="" ><br/>
          <input type="text" name="oligos2" value="" ><br/>
          <input type="text" name="fructos2" value="" ><br/>
          <input type="text" name="polyols2" value="" ><br/>
          <input type="text" name="lactos2" value="" ><br/>
        </div>
        <div class="">
          <input type="text" name="servingSizeW3" value="" ><br/>
          <input type="text" name="servingSizeV3" value="" ><br/>
          <input type="text" name="oligos3" value="" ><br/>
          <input type="text" name="fructos3" value="" ><br/>
          <input type="text" name="polyols3" value="" ><br/>
          <input type="text" name="lactos3" value="" ><br/>
        </div>
      </div>

      <input type="submit" name="" value="Submit">
    </form>
    <div class="foodSearchModal">
      <div class="foodSearchBoxArea">
        <form class="foodSearch" action="index.html" method="post">
          <input type="text" placeholder="Search foods">
          <input type="submit" value='Search'>
          <button type="button" id='btnCloseSearchModal'>Close</button>
          <button type="button" id='btnClearSearch'>Clear</button>
          <!-- <img src="css/images/poweredby_nutritionix_api.png" alt=""> -->
        </form>
        <div class="searchResults">
          <dl class='resultsList'>
            <!-- <div class="wrapperDiv resultHeaders">
              <span width='53px'></span>
              <h3 class='item' id='itemHeader'>Item</h3>
              <h4 class='nutrient'>Calories</h4>
              <h4 class='nutrient'>Protein</h4>
              <h4 class='nutrient'>Carbs</h4>
              <h4 class='nutrient'>Fat</h4>
              <h4 class='nutrient'>Fiber</h4>
              <h4 class='nutrient'>Sugar</h4>
            </div> -->
          </dl>
        </div>

      </div>
    </div>
  </body>
</html>
