<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <h1>Add Food Item</h1>
    <button type="button" id='btnAddFromAPI' class='pageBtns'>Search API for food</button>
    <form action="/pantry" method="POST">
      <h2>Basic Nutritional Info</h2>
      <div class="inputs">
        <div class="mainDetails">
          <h5 for="">Name</h5><input type="text" name="name"  class="name"/><br/>
          <h5 for="">Brand</h5><input type="text" name="brand"  class="brand"/><br/>
          <h5 for="">Serving Size</h5><input type="text" name="servingSizeQty"  class="servingSizeQty" id='serving'/>
            <input type="text" name="servingSizeUn"  class="servingSizeUn" id='serving'/><br/>
          <h5 for="">Serving Weight (grams)</h5><input type="text" name="servingWeight"  class="servingWeight"/><br/>
          <h5 for="">Calories</h5><input type="text" name="calories"  class="calories"/><br/>
          <h5 for="">Fat</h5><input type="text" name="fat"  class="fat"/><br/>
          <h5 for="">Carbs</h5><input type="text" name="carbs"  class="carbs"/><br/>
          <h5 for="">Fiber</h5><input type="text" name="fiber"  class="fiber"/><br/>
          <h5 for="">Sugar</h5><input type="text" name="sugar"  class="sugar"/><br/>
          <h5 for="">Protein</h5><input type="text" name="protein"  class="protein"/><br/>
        </div>
        <h2>FODMAP Data</h2>
        <div class="fodmapContainer">
          <div class="fodmapDetails">
            <h4 class="fodmapInput fmpUnits fmpHeaders">Serving Size Weight</h4>
            <h4 class="fodmapInput fmpUnits fmpHeaders">Serving Size Volume</h4>
            <h4 class="fodmapInput fmpType fmpHeaders" >Oligos</h4>
            <h4 class="fodmapInput fmpType fmpHeaders">Fructos</h4>
            <h4 class="fodmapInput fmpType fmpHeaders">Polyols</h4>
            <h4 class="fodmapInput fmpType fmpHeaders">Lactos</h4>
          </div>
          <div class="fodmapDetails">
            <input type="text" name="servingSizeW1" value="" class="fodmapInput fmpUnits"><br/>
            <input type="text" name="servingSizeV1" value="" class="fodmapInput fmpUnits"><br/>
            <select class="fodmapInput fmpType" name="oligos1">
              <option value=""></option>
              <option value="low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
            <select class="fodmapInput fmpType" name="fructos1">
              <option value=""></option>
              <option value="low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
            <select class="fodmapInput fmpType" name="polyols1">
              <option value=""></option>
              <option value="low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
            <select class="fodmapInput fmpType" name="lactos1">
              <option value=""></option>
              <option value="low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
          </div>
          <div class="fodmapDetails">
            <input type="text" name="servingSizeW2" value="" class="fodmapInput fmpUnits"><br/>
            <input type="text" name="servingSizeV2" value="" class="fodmapInput fmpUnits"><br/>
            <select class="fodmapInput fmpType" name="oligos2">
              <option value=""></option>
              <option value="low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
            <select class="fodmapInput fmpType" name="fructos2">
              <option value=""></option>
              <option value="low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
            <select class="fodmapInput fmpType" name="polyols2">
              <option value=""></option>
              <option value="low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
            <select class="fodmapInput fmpType" name="lactos2">
              <option value=""></option>
              <option value="low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
          </div>
          <div class="fodmapDetails">
            <input type="text" name="servingSizeW3" value="" class="fodmapInput fmpUnits"><br/>
            <input type="text" name="servingSizeV3" value="" class="fodmapInput fmpUnits"><br/>
            <select class="fodmapInput fmpType" name="oligos3">
              <option value=""></option>
              <option value="low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
            <select class="fodmapInput fmpType" name="fructos3">
              <option value=""></option>
              <option value="low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
            <select class="fodmapInput fmpType" name="polyols3">
              <option value=""></option>
              <option value="low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
            <select class="fodmapInput fmpType" name="lactos3">
              <option value=""></option>
              <option value="low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
          </div>
        </div>
      </div>
      <input type="submit" value="Submit" class='pageBtns'>
    </form>
    <div class="foodSearchModal">
      <div class="foodSearchBoxArea">
        <form class="foodSearch"  id='searchItems'>
          <input type="text" value="wine">
          <input type="submit" value='Search' class='pageBtns'>
          <button type="button" id='btnCloseSearchModal' class='pageBtns'>Close</button>
          <button type="button" id='btnClearSearch' class='pageBtns'>Clear</button>
          <!-- <img src="css/images/poweredby_nutritionix_api.png" alt=""> -->
        </form>
        <div class="searchResults">
          <dl class='resultsList'>
            <div class="wrapperDiv resultHeaders">
              <!-- <span width='53px'></span> -->
              <h3 class='item' id='itemHeader'>Item</h3>
              <h4 class='servingDiv'>Serving Size</h4>
              <h4 class='nutrientHead'>Weigth</h4>
              <h4 class='nutrientHead'>Calories</h4>
              <h4 class='nutrientHead'>Protein</h4>
              <h4 class='nutrientHead'>Carbs</h4>
              <h4 class='nutrientHead'>Fat</h4>
              <h4 class='nutrientHead'>Fiber</h4>
              <h4 class='nutrientHead'>Sugar</h4>
            </div>
          </dl>
        </div>

      </div>
    </div>
  </body>
</html>
