<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <h1>Add Food Item</h1>
    <button type="button" class='btnAddFromAPI'>Search API for food</button>
    <form action="/pantry" method="POST">
      <h2>Basic Nutritional Info</h2>
      <div class="inputs">
        <input type="text" name="name"  class="name"/><br/>
        <input type="text" name="brand"  class="brand"/><br/>
        <input type="text" name="servingSizeQty"  class="servingSizeQty"/><br/>
        <input type="text" name="servingSizeUn"  class="servingSizeUn"/><br/>
        <input type="text" name="servingWeight"  class="servingWeight"/><br/>
        <input type="text" name="calories"  class="calories"/><br/>
        <input type="text" name="fat"  class="fat"/><br/>
        <input type="text" name="carbs"  class="carbs"/><br/>
        <input type="text" name="fiber"  class="fiber"/><br/>
        <input type="text" name="sugar"  class="sugar"/><br/>
        <input type="text" name="protein"  class="protein"/><br/>
        <h2>FODMAP Data</h2>
        <div class="fodmapDetails">
          <input type="text" name="servingSizeW1" value="" ><br/>
          <input type="text" name="servingSizeV1" value="" ><br/>
          <select class="" name="oligos1">
            <option value=""></option>
            <option value="low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
          <select class="" name="fructos1">
            <option value=""></option>
            <option value="low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
          <select class="" name="polyols1">
            <option value=""></option>
            <option value="low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
          <select class="" name="lactos1">
            <option value=""></option>
            <option value="low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
        </div>
        <div class="fodmapDetails">
          <input type="text" name="servingSizeW2" value="" ><br/>
          <input type="text" name="servingSizeV2" value="" ><br/>
          <select class="" name="oligos2">
            <option value=""></option>
            <option value="low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
          <select class="" name="fructos2">
            <option value=""></option>
            <option value="low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
          <select class="" name="polyols2">
            <option value=""></option>
            <option value="low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
          <select class="" name="lactos2">
            <option value=""></option>
            <option value="low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
        </div>
        <div class="fodmapDetails">
          <input type="text" name="servingSizeW3" value="" ><br/>
          <input type="text" name="servingSizeV3" value="" ><br/>
          <select class="" name="oligos3">
            <option value=""></option>
            <option value="low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
          <select class="" name="fructos3">
            <option value=""></option>
            <option value="low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
          <select class="" name="polyols3">
            <option value=""></option>
            <option value="low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
          <select class="" name="lactos3">
            <option value=""></option>
            <option value="low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
        </div>
      </div>
      <input type="submit" value="Submit">
    </form>
    <div class="foodSearchModal">
      <div class="foodSearchBoxArea">
        <form class="foodSearch"  id='searchItems'>
          <input type="text" placeholder="Search foods">
          <input type="submit" value='Search'>
          <button type="button" id='btnCloseSearchModal'>Close</button>
          <button type="button" id='btnClearSearch'>Clear</button>
          <!-- <img src="css/images/poweredby_nutritionix_api.png" alt=""> -->
        </form>
        <div class="searchResults">
          <dl class='resultsList'>
            <!-- <div class="wrapperDiv resultHeaders">
              <span width='53px'></span>
              <h3 class='item' id='itemHeader'>Item</h3>
              <h4 class='nutrient'>Calories</h4>
              <h4 class='nutrient'>Protein</h4>
              <h4 class='nutrient'>Carbs</h4>
              <h4 class='nutrient'>Fat</h4>
              <h4 class='nutrient'>Fiber</h4>
              <h4 class='nutrient'>Sugar</h4>
            </div> -->
          </dl>
        </div>

      </div>
    </div>
  </body>
</html>
