@import url('https://fonts.googleapis.com/css?family=KoHo|Merienda|Nunito|Quicksand');

/* Variables */
:root {
  --soft-purple: rgba(167, 127, 195, 0.79);
  --blue: rgba(11, 54, 210, 0.69);
  --teal: rgba(130,201,201,.8);
  --soft-orange: rgba(255,255,255,.5);
}

/* shared styles */
body {
    background-color: var(--blue);
    font-family: 'Merienda';
    color: white;
}

/* Welcome Page */

.welcomeContainer, .accesContainer {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  background-color: var(--teal);
  padding: 20px;
  margin: 100px auto;
  text-align: center;
}

.welcome {
  margin: 50px 0;
  font-size: 2.5em;
}

.options {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 20px;
}

p {
  font-size: 1.6em;
  padding: 10px;
  margin-bottom: 50px;
}

h3 {
  margin: 0;
}

/* Login and Sign up Pages */

.accessForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px auto;
}

.accessForm > input[type=submit] {
  width: 100px;
  margin: 20px auto;
  font-size: 1.2em;
}

.input-field {
  margin: 15px;
}

.validate {
  border-radius: 20px;
  padding: 7px;
  width: 100%;
}

.validate:focus{
  border: 2px solid var(--soft-purple) ;
  border-radius: 20px;

}




.accessLabels {
  padding: 25px;
  margin: 10px;
  font-size: 1.5em;
}

.linkBtns {
  border-radius: 20px;
  width: 100px;
  margin: 0 40px;
  padding: 5px;
  background-color: var(--soft-purple) ;
}

.linkBtns:hover {

}


/* index.ejs styles */
.item {
  display: flex;
}

.itemLabel {
  width: 300px;
  padding: 5px;
  margin: 5px;

}

.pageBtns {
  border-radius: 360px;
  margin: 5px;
  padding: 7px 10px;
  background-color: var(--soft-purple) ;
  color: white;
}

/* new.ejs styles */
.foodSearchModal {
  display: none;
}

/* Modal Styles */

.foodSearchBoxArea {
  background: var(--teal);
  position: fixed;
  top: 100px;
  left: 20px;
  overflow: auto;
  /* resize: both; */
  width: 90%;
  max-width: 925px;
  height: 70%;
  border-radius: 20px;
}

.foodSearch {
  margin: 15px;
}

/* input[type=text] {
  width: 200px;
} */

.searchResults {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 75%;
  border: solid grey 1px;
  border-radius: 5px;
  margin: 15px;
  overflow: scroll;
  overflow-x: hidden;
  background-color: var(--soft-orange);
}

#itemHeader {
  width:250px;
  padding-left: 100px;

}

.resultsList {
  /* margin-top: 25px; */
  width: 100%;
}

.wrapperDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px;
}

.resultHeaders {
  /* width: inherit; */
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  /* z-index: 10; */
}

span {
  width: 25px;
  /* border: solid gold 1px; */
}

.btnDiv {
  width: 35px;
}

.itemDiv {
  display: flex;
  flex-direction: column;
  width: 300px;
  display: flex;

}

.itemName {
  margin: 3px;
}

.servingDiv {
  display: flex;
  width: 75px;


}

.servingV {
  margin: 0;

  /* padding: 3px; */
}

.nutrientHead {
  display: flex;
}

.nutrientDiv {
  display: flex;
  display: flex;

}

.nutrient {
  width: 50px;
  margin: 0;

  padding: 3px;
  text-align: center;
}

/* .item {
  width: 300px;
  margin: 0;

}

.mealItemDiv  > .item {
  width: 250px;
} */


/* shared */

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* label {
  width: 150px;
} */


.fodmapDetails {
  display: flex;
}

.fodmapInput {
  margin: 5px;
}

h4 {
  text-align: center;
}
h5 {
  width: 150px;
  margin: 0;
  padding: 5px;
}

.fmpUnits {
  width: 150px;
}

.fmpType {
  width: 100px;
}

#serving {
  width: 57px;
}
