<!-- from auth lesson on w06d05 -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

  </head>
  <body>
    <div class="container">
        <h1>Welcome</h1>
        <h2>Please</h2>
        <a href="/users/newuser" class="waves-effect waves-light btn">Sign Up</a>
        <h3>or</h3>
        <a href="/sessions/newsessions" class="waves-effect waves-light btn">Log In</a>
    </div>
  </body>
</html>
