<!-- from auth lesson on w06d05 -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="welcomeContainer">
        <h1 class='welcome'>Welcome to The Pantry</h1>
        <p>A place to collect, share and find data on foods you eat every day</p>
        <div class="options">
          <a href="/users/newuser" class="linkBtns">Sign Up</a>
          <h3>or</h3>
          <a href="/sessions/newsessions" class="linkBtns">Log In</a>
        </div>

    </div>
  </body>
</html>
