<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
    <body>
      <div class="accesContainer">
        <h1>Create User</h1>
        <div class="row">
          <form class="accessForm" action="/users" method="POST">
            <div class="row">
              <div class="input-field col s6">
                <label class='accessLabels' for="username" >User Name</label><br/>
                <input id="username" type="text" class="validate" name="username" required>

              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label class='accessLabels' for="password" >Password</label><br/>
                <input id="password" type="password" class="validate" name="password" required>

              </div>
            </div>
              <input type="submit" name="" value="Submit" class='pageBtns' id='validate'>
          </form>
          <div class="">
            <h3 class="switchValidate">Already have an account?</h3><a href="../sessions/newsessions" class="pageBtns">Log In</a>
          </div>
        </div>
      </div>
    </body>
</html>
